.container{
  display: flex;
  justify-content: space-between; /* Distribuye el espacio horizontalmente */
  align-items: center;
  padding: 2px 200px; 
}

@media screen and (max-width:700px) {
  .container{
  display: inline-block;
}
}
  

.title{
  display: grid;
  place-content: center;
  align-items: center;
  font-family: 'Lexend',sans-serif;;
  font-size: 45px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  color: white;
 
}

.containerimg{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center
}

.botonComp1{

  
  background-color: transparent;
  display: inline-block;
  padding: 10px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 20px;
  border: none;
  width:200px;
  height:220px;
   border-radius: 90px;   
}

.botonComp2{
 
  display: inline-block;
  padding: 10px 20px;
  background-size: cover;
  border: none;
  width:200px;
  height:220px;
}

.botonComp3{
 
  display: inline-block;
  padding: 10px 20px;
  background-size: cover;
  border: none;
  width:200px;
  height:220px;
}

.botonComp4{

  display: inline-block;
  background-size: cover;
  padding: 10px 20px;
  border: none;
  width:200px;
  height:220px;
}